*{
  margin: 0px 0px 0px 0px;
}

h1{
    color: gray;
    text-align: center;
    padding: 10px 10px;
  }

  .menutopo{
    
    padding: 20px 20px;
    text-align: left;
    
    
    
  }

  .linkmenutopo{
   
    background-color: gray;
    padding: 20px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    
  }

  .corpo {
    background-color: rgb(0, 0, 0);
    color: gray;
    padding: 3px;
  } 

  .link {
    color: darkred;
    padding: 10px 3px;
  }

  .negrito {
    color: rgb(100, 100, 100);
    
  }

  .imgGabriel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-style: solid;
    border-color: darkred;
    padding: 3px;
  }

  footer{
    text-align: center;
    padding: 50px 20px;
  }
  
  .imgsocial{
    max-width: 30px;
  }

  .div1{
    text-align: center;
  }